.button {
  background-color: #0e0e0e;
  display: flex;
  justify-content: center;
  .button_container {
    background-color: #0e0e0e;
    text-align: center;
    width: 582px;
    .button_section {
      display: flex;
      padding-block: 20px;
      justify-content: center;
      gap: 32px;
    }
  }
}

.text {
  padding-block: 16px;
  color: #fffffe;
  text-align: center;
  font-family: Eulyoo1945;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 170%; /* 34px */
  a {
    color: #272727;
  }
}

a:hover {
  opacity: 30%;
}
